# Description 
this notebook analyses and visualises customerloyalty data.

In [1]:
# The code was removed by Watson Studio for sharing.

,Loyalty Number,First Name,Last Name,Customer Name,Country,Province or State,StateAbbr,City,Latitude,Longitude,...,LoyaltyStatus,Product Line,Coupon Response,Count,Quantity Sold,Unit Sale Price,Unit Cost,Revenue,Customer Lifetime Value,Loyalty Count
0,689112,Aaron,Macayan,Aaron Macayan,Canada,Ontario,ON,Toronto,43.653226,-79.383184,...,Bronze,Computers and Home Office,Coupon 1,1,1,594,504.90,594,2895.52,1
1,991054,Abbey,Boettger,Abbey Boettger,United Kingdom,Greater London,JS,London,51.507351,-0.127758,...,Bronze,Computers and Home Office,Coupon 1,1,2,361,306.85,722,11546.17,1
2,845894,Abbie,Privitera,Abbie Privitera,Germany,Hessen,HE,Frankfurt,50.110922,8.682127,...,Silver,Smart Electronics,Coupon 1,1,7,109,92.65,763,5837.53,1
3,312490,Adah,Demmert,Adah Demmert,Canada,Quebec,QC,Montreal,45.501689,-73.567256,...,VIP,TV and Video Gaming,Coupon 1,1,2,1106,940.10,2212,7319.58,1
4,500884,Adaline,Jaenke,Adaline Jaenke,United Kingdom,Brighton and Hove,JI,Bear Road,50.837645,-0.122104,...,Bronze,Computers and Home Office,Coupon 6,1,2,1066,906.10,2132,14166.20,1